:root {
  --base: #af860c;
  --space: 10px;
  --blur: 10px;
}
body {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50px;
}
img {
  padding: var(--space);
  background: var(--base);
  filter: blur(var(--blur));
  margin-top: 40px;
  width: 900px;
}
h1 > span {
  color: var(--base);
}
label {
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 20px;
    align-items: flex-start;
    margin-bottom: 35px;
  }
  label {
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    flex:1;
    margin-top: 10px;
  }
  img{
    width: 330px;
    height: 100%;
   
  }
  input{
    margin-bottom: -50px;
  }
}
